/*
    Made my themes from scratch using css variables learned the technique from css-tricks
 */

/* This css file is used to create variables for the all-and-small.css */
/* These variables are used specifically for the dark-mode theme */

/* Defining the color variables for this theme */
.dark-mode {
    --color-primary: #2c3e50;
    --color-secondary: #34495e;
    --color-accent: #6c5ce7;
    --color-background: #2d3436;
    --color-background-secondary: #636e72;
    --text-color: #dfe6e9;
    --text-color-invert: #dfe6e9;
}