/*
    Made my themes from scratch learned the techniques from css-tricks
 */

/* This css file is used to create variables for the all-and-small.css */
/* These variables are used specifically for the light-mode theme */

/* Defining the color variables for this theme */
.light-mode {
    --color-primary: #0984e3;
    --color-secondary: #74b9ff;
    --color-accent: #6c5ce7;
    --color-background: #dfe6e9;
    --color-background-secondary: #b2bec3;
    --text-color: #2d3436;
    --text-color-invert: #dfe6e9;
}